<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.11.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.11.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.WsFederation" version="6.11.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.11.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="6.11.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Xml" version="6.11.1" targetFramework="net472" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net472" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.8.1" targetFramework="net472" />
</packages>